<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lry.store.mapper.RegisterMapper">

    <insert id="registerUser">
        insert into t_user values (#{id},#{sole},#{name},#{pwd})
    </insert>
    <insert id="registerUserDetail">
        insert into t_userDetail(id,user_id,create_time) values (#{id},#{userId},now())
    </insert>
</mapper>