<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lry.store.mapper.UserLoginMapper">

    <select id="userLogin" resultType="com.lry.store.domain.User">
select distinct u.id,name,is_status,img
from t_user u,t_userDetail ud
where (name = #{name} or sole = #{name}) and pwd = #{pwd} and u.id = ud.user_id
    </select>
</mapper>